<div class="form">
    <h2 mat-dialog-title>Ajouter une demande d'autorisation</h2>
  <mat-dialog-content class="mat-typography">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="id">

  <mat-form-field appearance="fill">
    <mat-label>Projet de travaux</mat-label>
    <input matInput id="project" formControlName="project" required>
    <mat-error *ngIf="taskForm.get('title')?.invalid && taskForm.get('project')?.touched">
      Title is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Utilisateur</mat-label>
    <input matInput id="user" formControlName="user" required>
    <mat-error *ngIf="taskForm.get('user')?.invalid && taskForm.get('user')?.touched">
      User is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Contract</mat-label>
    <input matInput id="contract" formControlName="contract">
  </mat-form-field>

  <button mat-raised-button type="submit" color="primary" [disabled]="taskForm.invalid">
    {{ taskForm.value.id ? 'Update Task' : 'Add Task' }}
  </button>
</form>

  </mat-dialog-content>
</div>