:root {
    --neutral-200: #E3E8EF;
    --primary-600: #155EEF;
    --neutral-50: #F8FAFC;
    --neutral-100: #EEF2F6;
    --neutral-700: #364152;
    --neutral-600: #4B5565;
    --neutral-900: #121926;

    --task-icon-bg-color: #E0F2FE;
    --task-icon-color: #3fabf7;
}