
<div class="app-container">
  <header>
    <div class="title">
      <h1>Liste des demandes</h1>
      <h2>Gérer les demandes d'autorisation de travaux.</h2>
    </div>
    <div class="button-container">
      <button (click)="openDialog()">
        <mat-icon>add</mat-icon>
        Ajouter
      </button>
    </div>

    <!-- Code de filtre pour débugger facilement les données -->

    <!-- <app-filters 
    (filterChange)="onFilterChange($event)"
    (searchTextChange)="onSearchTextChange($event)">
  </app-filters> -->
    
  </header>


  @for (task of filteredTasks$ | async; track task.id) {
    <app-task [task]="task" (actionOnTask)="taskActionManager($event)"></app-task>
  }
</div>